body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.user-profile {
  align-items: center;
}

.user-details-container {
    display: flex;
    align-items: center;
    background-color:#fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .user-info {
    flex: 1;
  }
  
  .user-info h2 {
    font-size: 24px;
    margin: auto;
    text-align: center;
  }
  
  .user-info p {
    font-size: 16px;
    margin: 8px 0;
  }

  
  